* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 18px;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #292929;
}

h3 {
  margin: 40px 0;
  text-align: center;
  font-family: "Brush Script MT", cursive;
  color: rgb(0, 0, 0);
}
h1 {
  margin: 40px 0;
  text-align: center;
  font-family: "Brush Script MT", cursive;
  color: rgb(9, 52, 22);
}

.carrito {
  height: 400px;
  width: 500px;
  margin-left: 450px;
  color: lightcoral;
}

img {
  height: 100%;
  margin: 0px;
  border: solid 5px;
  border-color: rgb(255, 251, 206);
}

.card-body {
  border: solid black 2px;
}

/*Ordenar los lugares donde agrego estas clases*/
