* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 18px;
  background-color: #c9c9c9;
}

.App {
  min-height: 100vh; /*altura minima*/
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1 {
  text-align: center;
  font-family: sans-serif;
  margin: 40px 0;
}
